<div class="app">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" >
            <a class="nav-link" routerLink="bankerList">Banker List</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="customerList">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="loanAppList">Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="newLoan">New Loan</a>
          </li>
        </ul>
        @if (loggedUserData) {
          <form class="d-flex">
            <span class="text-white">{{ loggedUserData.userName }}</span>
            <button class="btn btn-warning" type="button" (click)="onLogOut()">Log Out</button>
          </form>
        }
        @else {
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search">
          </form>
        }
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>